[user]
	name = Jewel Mahanta
	email = jewelmahanta@gmail.com
	signingkey = DC2CB7A89A8F2367
[commit]
	gpgsign = true
[core]
    editor = nano
# safe directory <https://git-scm.com/docs/git-config#Documentation/git-config.txt-safedirectory>
# I am opting out of the safe directory check because I am the only one who works on this laptop
# and since this is dual boot with ext4 and NTFS, it fucks up the ownsership.
# !! THIS SHOULD NOT BE DONE ON A SHARED COMPUTER !!
[safe]
	directory = *
[url "ssh://git@github.com/"]
    insteadOf = https://github.com/

